<div class="card-panel cart-resume">
	<div class="row">
		<div class="col s6 m8 l9 cart-resume__detail">
			<div class="detail__meta">
				<p class="meta__title">Sous-total :</p>
				{{#if discount}}
					<p class="meta__discount"><small>( -{{discount}}€ de remises )</small></p>	
				{{/if}}
			</div>
			<span class="detail__price blue-text">{{finalPrice}}€</span>
		</div>
		<div class="col s6 m4 l3 cart-resume__action blue center-align">
			<a class="waves-effect waves-light btn-action">
				Passer la commande
			</a>
		</div>
	</div>
</div>
{{yield}}

