{{#link-to 'cart' class="waves-effect waves-teal btn-flat"}}
	<span>mon panier</span>
	<span>{{cart.nbrArticles}} {{nbrArticleText}}</span> |
	<span><strong>{{cart.totalPrice}}€</strong></span>
{{/link-to}}
