@import "bower_components/materialize/sass/materialize.scss";
/* override, material icons doesn't work well */
@import "components/_icons-material-design-safe.scss";

$btn-color: color("blue", "base");

/* Ember components */
@import "app_components/_book-card.scss";
@import "app_components/_bookshop-cart.scss";
@import "app_components/_cart-icon.scss";
@import "app_components/_group-article.scss";
@import "app_components/_grouped-article.scss";



html {
	border:0;
	margin:0;
	padding:0;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #e5e5e5;
	color: #333;
	font-family: "Roboto",UILanguageFont,Arial,sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.4;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

header {
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	height:48px;
	background-color:#fff;
}



